<html lang="en">
<head>
  <title>Google street view API PHP example</title>
  <link rel="icon" type="image/png" href="favicon.png"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
<nav class="light-blue lighten-1" role="navigation">
  <div class="nav-wrapper container">
    <a id="logo-container" href="#" class="brand-logo">
      Google street view example script
    </a>
  </div>
</nav>
<div class="section no-pad-bot" id="index-banner">
  <div class="container">
    <div class="row">
      <div class="col s12">
        <ul class="tabs" id="tabs">
          <li class="tab col s6">
            <a href="#tab-result">Result</a>
          </li>
          <li class="tab col s6">
            <a href="#tab-form">Try another location</a>
          </li>
        </ul>
      </div>
      <div id="tab-result" class="col s12">{{ result|raw }}</div>
      <div id="tab-form" class="col s12">
        <form class="col s12" action="#" method="get">
          <div class="row">
            <div class="input-field col s12">
              <input type="text"
                     placeholder="Forbidden City, Beijing, China"
                     value="{{ locationName }}"
                     id="location_name"
                     name="location_name"
                     class="validate"
              />
              <label for="location_name">Location name</label>
            </div>
          </div>
          <div class="center col s12">
            <button class="btn waves-effect waves-light" type="submit">
              Search
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script type="text/javascript">
  const instance = M.Tabs.init(document.getElementById('tabs'));
</script>
</body>
</html>
